
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

*{
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    display:flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>*{
    padding: 10px;
    flex:1 100%;
}


body{
    font-family:Courier Prime, Courier New;
    font-weight:300;
    color:#3a3a3a;
    background-color: rgb(234, 227, 217);

}
#logo{
    float:left;
    box-sizing: content-box;
    width: 10%;
    border-radius: 50%;
    margin-left: 10px;
    margin-top:10px;
}

h1{
   margin:10px 10px 10px 10px;
}

h2{
    text-align:center;
    padding:2%;
}

p{
    text-align:justify;
    padding:2%;
}


/**navigation styles**/
#menu{
    font-size: 110%;
    letter-spacing: 0.25em;
}

.navbar{
    position:relative;
    display: block;
}

#menu, #logo{
    line-height: 20%;
}

#menu li{
    list-style-type:none;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top:40px;
    float:right;    
}

#menu a{
text-decoration: none;
color:inherit;
}

#menu a:hover{
border-bottom: 1px solid #3a3a3a;
}
.active{
border-bottom: 1px solid #3a3a3a;
}


@media(max-width:426px){
    #menu{
        display:flex;
        flex-direction: column-reverse;
        text-align: center;
        font-size:80%;
        inline-padding:0;

}
}


@media(max-width:425px){#logo{
        float:none;
    }
}

@media(max-width:375px){
    .navbar{
        
}
}
/**hero image**/
#hero-image{
    display:flex;
    flex-direction: row;
    max-width: 100%;

}


.map{
    position: relative;
    overflow: hidden;
    padding-top: 20.25%;
    border:5px solid black;
}

.responsive-map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer,nav{
    height:30%;
    background-color:rgb(173, 197, 173)
}

.social-networks{
    padding: 1.25rem;
    text-align:center;
}

.social-networks > li{
    list-style-type: none;
    display: inline-block;
    margin: 0.25rem 0.75rem;
}

.social-networks i{
    font-size:160%;
    margin:1%;
    padding:5%;
    color:#3a3a3a
}

#groupphoto{
    line-height: 0;
}
#photos{
    clear:both;
    line-height: 0;
    column-count: 2;
    column-gap: 2px;
}

#photos >img{
    width:100%;
}

/*news*/

h2~ p {
    text-align:justify;
    margin:5%;
   

}
.biodiversity_garden_container{
    display:flex;
    flex-direction:row;
}

.flex-child1{
    flex: 1;
    max-width:100%;
    margin-right:2%;
    margin-left:5%;
}
#biodiversitygarden{
    height: 25rem;
    width: 25rem;
    clear:both;
}
.flex-child2{
    margin-left:5%;
    margin-right:5%;
    padding: 2px;
}

@media (max-width: 768px) 
{.biodiversity_garden_container{
      flex-direction: column;
    }
}
@media (max-width: 768px) {.flex-child2 >p {
    max-width:100%;
    margin-left:5%;
    margin-right:5%;
  
}
}


p> span{
    float:left;

}
    
div>p{
        padding:0;
    }
    
.iframe-container{
    position:relative;
    width: 50%;
    padding-bottom: 56.25%; 
    height: 0;
    margin:0 20% 5%;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/**contact form**/

.form-section {
    clear:left;
    background: url('../images/flowers_bee.jpeg');
    background-size: cover;
    background-position: center;
    height:1000px;
}

.signup-form{
    display: inline-block;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.8);
    max-width: 200rem;
    position: absolute;
    padding: 30px;
    top: 80%;
    left: 50%;
    margin-right: -10%;
    transform: translate(-50%, -50%);
}

.signup-form h2{
    color:#fafafa;
    margin-bottom:20px;
}

.text-input {
    background:transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin:5px 0 20px 0;
    border:1px solid #fafafa;
    border-radius:2px;
}

.text-input:hover{
    border-color:#05da7d;
}

.submit-button{
    margin-top:20px;
    border-radius:2px;
    border:solid;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:rgb(173, 197, 173);
    display:block;
}

.submit-button:hover{
    background-color:antiquewhite;
    color:#3a3a3a;
    display:block;
}

@media (max-width:768px) 
{.signup-form{
    width: 90%;
    top: 110%;
}
}