
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

*{
    margin:0;
    border:0;
    padding:0;
    background: rgba(173, 197, 173, 0.3)
}

body{
    font-family:Courier Prime, Courier New;
    font-weight:300;
    color:#3a3a3a;
}

#logo{
    box-sizing: content-box;
    width: 10%;
    border-radius: 50%;
}
h1{
    background-color: antiquewhite;
}
/**hero image**/
#hero-image{
    height: 600px;
    max-width:100%;
    display:block;
    background: url('../images/Allotment-group.JPG') no-repeat center center;

}

#map{
    padding: 10px;
    visibility: visible;
    width:100%; 
    height:300px;
}

#footer{
    height:150px;
}

.social-networks{
    text-align:center;
}

.social-networks > li{
    display:inline;
}

.social-networks i{
    font-size:160%;
    margin:1%;
    padding:5%;
    color:#3a3a3a
}